.main-div-privacy-policy {
    position: absolute;
    top: 80px;
    left: 328px;
    bottom: 0;  
    right: 0;
    margin-right: 100px;
    margin-bottom: 500px;
    
}

.bottom{
   
    padding-bottom: 100px;
}

p { word-break: break-all; }

@media only screen and (max-width: 800px) {

    .main-div-privacy-policy{
        top:80px;
        left:0;
        margin-right: 50px;
        margin-left: 50px;
    }
  
}

@media only screen and (max-width: 600px) {
    div.main-div-privacy-policy > div > span { font-size: 47px; }
    
    p, ol { font-size: 16px; }

    h2 { font-size: 30px; }
}

@media only screen and (max-width: 480px) {
    div.main-div-privacy-policy > div > span { font-size: 41px; }
    
    h2 { font-size: 24px; }
}

@media only screen and (max-width: 400px) {
    div.main-div-privacy-policy > div > span { font-size: 36px; }
    
    h2 { font-size: 20px; }
}

@media only screen and (max-width: 350px) {
    div.main-div-privacy-policy > div > span { font-size: 27px; }
}