<form onsubmit="createTask(); return false" id="addTaskForm"></form>
<div onload="init();loadContactsForAddTask();" class="add-task-container">
    <h1>Add Task</h1>

    <div class="add-task">
        <div class="add-task-left">
            <div class="title">
                <div class="title-text">Title <p class="red">*</p>
                </div>
                <input id="enterTitle" placeholder="Enter a title" type="text" class="title-input input-focus"
                    required>
            </div>
            <div class="description ">
                <span>Description</span>
                <textarea id="description" placeholder="Enter a Description"
                    class="description-text-area"></textarea>
            </div>
            <div class="assigned-to">
                <span>Assigned to</span>
                <select id="contacts" onchange="saveContact(this.value)" name="Select contacts to assign"
                    class="select-input">
                    <option value="">Select contacts to assign</option>
                </select>
                <div id="displaySelectedContacts"></div>
            </div>

        </div>
        <div class="middle-line">

        </div>
        <div class="add-task-right">
            <div class="due-date">
                <div class="due-date-text">Due date<p class="red">*</p>
                </div>
                <input id="date" type="date" class="due-date-input" required>
            </div>
            <div class="prioritisation">
                <span>Prio</span>
                <div class="prio-buttons-container">
                    <button onclick="urgent(), activeButton()" id="urgent" type="button" class="prio-button active-urgent">Urgent <img
                            src="assets/img/add-task-img/prio-urgent.png"></button>
                    <button onclick="medium(), activeButton()" id="medium" type="button" class="prio-button active-medium">Medium <img
                            src="assets/img/add-task-img/prio-medium.png"></button>
                    <button onclick="low(), activeButton()" id="low" type="button" class="prio-button" active-low>Low <img
                            src="assets/img/add-task-img/prio-low.png"></button>
                </div>
            </div>
            <div class="category-section ">
                <div class="category">Category <p class="red">*</div>
                <select id="category" name="Select contacts to assign" class="select-input" required>
                    <option value="">Select Category</option>
                    <option value="technical_task">Technical Task</option>
                    <option value="user_story">User Story</option>
                </select>
            </div>

            <div class="subtask">
                <span>Subtasks</span>
                <input id="inputNewSubtask" oninput="enableInputButtons('1')" class="input-subtasks"
                    placeholder="Add new subtask">
                <div id="hiddenButtons" style="display:none;">
                    <string onclick="submitSubtask('1')">&#10003</string>
                    <string onclick="cleanInputField('1')">&#x1F5D1</string>
                </div>
                <div id="displaySubtasks">
                </div>
            </div>
           
        </div>
        
    </div>
    <div class="bottom-section">
        <div class="required">
            <p class="red">*</p>
            <p>this field is required</p>
        </div>
        <div class="buttons">
            <button class="button-clear" type="button" onclick="resetAddTaskBoard()"> Clear <img
                    src="/assets/img/add-task-img/clear-x.png"></button>
            <button class="button-create-task" type="submit"> Create Task <img
                    src="/assets/img/add-task-img/create-task-check.png"></button>
        </div>
    </div>
</div>
</form>